*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* -- header --*/


.logo-oracle{
    width: 120px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.HeaderNav{
    background-color: darkgrey;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.enlaces-nav{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.LinkNav{
    text-decoration: none;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    transition: all 450ms;
}
.LinkNav:after{
    content: "";
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color:#bebebe;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 800ms ease-in-out;
}
.LinkNav:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.LinkNav:hover{
    color: #660c1a;
}

.bodyApp {
    background-color:#ebebeb;
}
/* -- HOME --*/
.cuerpo{
    background-image: url("../images/vino1.jpg");
    background-size:cover;
    width: 100%;
    padding: 5px;
    padding-bottom: 200px;
    
    
}
.tituloHome {
    color: aliceblue;
    align-self: center;
    text-align: center;
}
.tituloHome2 {
    color: aliceblue;
    align-self: center;
    text-align: center;
    text-decoration:none

}

/* -- Paneles --*/
.body-home{
    background-color: #cfcaca;
}

.cuerpo-paneles{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.paneles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin-top: 20px;
}

.panel{
    background-color: white;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.paneles-vinos{
    display: flex;
    justify-content: space-around;
    max-width: 650px;
    align-items: center;
    margin: auto;

}

.panel-vino-andino{
    border-radius: 5%;
    background-color: rgb(187, 135, 5);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px;
    height: 90px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 5px;

}

.panel-vino-patagonico{
    border-radius: 5%;
    background-color: rgb(4, 120, 158);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px;
    height: 90px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 5px;

}

.panel-vino-importado{
    border-radius: 5%;
    background-color: #35060d;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px;
    height: 90px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 5px;

}

/* -- Último Producto --*/

.seccion-inferior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.ultimo-producto{
    background-color: white;
    border-radius: 5%;
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    
}
.imagenUltimoProducto{
    width: 20px;
    
}

.ultProdImagen{
    padding: 10px;
    
    
}

/* -- FOOTER --*/
.Footer{
    background-color: #6d0f1c;
    width: 100%;
    margin: 0px;
    padding: 15px;
    border: 0px;
    color: white;

}
.contactanos{
    margin:0px;
}
#copy{
    margin:0px;
}
/* --Home --*/
.ultimoProductoImg{
    width: 300px;
}




/* --Productos --*/

.titulo-productos{
    text-align: center;
}

.listado-productos{
    display: flex;
    flex-direction: row;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.detalle-producto{
    border-radius: 2%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
}
.imagen-producto{
    max-height: 100px;
    padding: 5px;
    margin: 1px;
    max-width: 70px;
}

.nombre-vino{
    text-align: center;
}

.producto-precio{
    border-radius: 3%;
    background-color: #6d0f1c;
    width: 90%;
    padding: 3px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 2px;
}

.producto-descuento{
    border-radius: 3%;
    background-color: green;
    width: 90%;
    padding: 3px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 2px;
}

.producto-stock{
    border-radius: 3%;
    background-color: grey;
    width: 90%;
    padding: 3px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 2px;
}

.producto-premios{
    border-radius: 3%;
    background-color: goldenrod;
    width: 90%;
    padding: 3px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 2px;
}



/* --Usuarios--*/

.userInfo{
    border-radius: 2%;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.listado-usuarios{
    display: flex;
    flex-direction: row;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.userData{
    padding: 3px;
}

.lista-users{
    text-align: center;
}

.userData{
    border-radius: 3%;
    background-color: grey;
    width: 90%;
    padding: 3px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 2px;
}

.userDetail{
    text-decoration: none;
    background-color: #6d0f1c;
    color: white;
    padding: 3px;
    margin-top: 10px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}


/* -- ANIMACION DEL LOGO --*/
.containerHome{
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    width: 50vw;
    height: 50vh;
}
.boxHome{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-image: url("../images/logo.jpeg");
    background-size: 240px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 #686FFD;
    animation: animate 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
               
}
@keyframes animate {
    0%{
        width: 0vw;
        height: 0vh;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                    0 6px 20px 0 #686FFD
    }
    25%{
        width: 5vw;
        height: 5vh;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                    0 6px 20px 0 #686FFD
    }
    50%{
        width: 30px;
        height: 120px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                    0 6px 20px 0 #686FFD
    }
    70%{
        width: 240px;
        height: 120px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                    0 6px 20px 0 #686FFD
    }
    100%{
        width: 240px;
        height: 240px;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                    0 6px 20px 0 #686FFD
    }
}
